
.doigte {
    padding: 0.4rem 0 0.4rem 0;
    width: 2rem;
    /* height: 8rem; */
    background: grey;
    color: pink;
}

.vide {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: white;
    margin: auto;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.plein {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #323232;
    margin: auto;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.radio-box {
    margin: 1rem;
}